
:root{
    --primary-color: rgb(255, 5, 5);
    --blue-color: #153673;
    --white-color: #fff;
    --black-color: #000;
    --green-color: #1EA85A;
    --yellow-color:#FFBE3C;

    --text-color: rgba(255, 255, 255, 0.301);  
    --text-gray-color: #8D8D8E; 
    --text-blue-color: #153673;
    --boder-color: #d8d8d841;
    --btn-color: #1660C0;
    --background-color: #e6e6e644;

    --hover-color: #e6e6e671;
    --sidebar-width: 24rem; 
    --view-width: calc(100% - var(--sidebar-width));
    /* --header-with-seach-height: calc(var(--header-height) - var(--navbar-height)); */
}

*{
    box-sizing: inherit;
}

@font-face {
    font-family:"SFProDisplay Medium";
    src:url('../fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"SFProDisplay Bold";
    src: url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:"SFProDisplay Regular";
    src: url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:"SFProDisplay Thin";
    src: url('../fonts/SFProDisplay-Thin.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

html{
    font-size: 62.5%; /* Tương ứng 12px . 1rem = 10px*/
    line-height: 1.6rem;
    font-family: 'SFProDisplay Thin','Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
}
.show{
    display: block;
}
.hide{
    display: none;
}
.icon__medium{
    width: 1.6rem;
}
.icon__small{
    width: 1rem;    
}
.icon__regular{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.5rem;
}
a{
    text-decoration: none;
}

button{
    background: transparent;
}
a,
button:hover{
    cursor: pointer;
    color: transparent -50%;
}
img.active:hover{
    opacity: 0.5;
    cursor: pointer;
}
.btn, button, input:hover,
.btn, button, input:focus{
    border: none;
    outline: none;
}

.btn__primary{
    background-color: var(--btn-color);
    color: var(--white-color);
    padding: 1.2rem;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    height: 4rem;
    vertical-align: middle;
    box-shadow: 0 1px 2px #ccc;
}
.btn__default-small{
    background-color: var(--white-color);
    color: var(--text-gray-color);
    border-radius: 0.2rem;
    font-size: 1.6rem;
    vertical-align: middle;
}
.text--blue{
    color: var(--blue-color);
}
.text--green{
    color: var(--green-color);
}
.text--yellow{
    color: var(--yellow-color);
}
table{
    width: 100%;
}

th,td{
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--boder-color);
}

tbody tr:last-child td{
    border-bottom: none;
}

