/* file css riêng */
.wrapper{
    /* width: 1200px; */
    position: relative;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}
.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}
.overlay.show{
    display: block;
}
.sidebar{
    position: fixed;
    width: var(--sidebar-width);
    min-height: 800px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 81.61%;
    background-color: var(--blue-color);
}
.sidebar.show{
    /* width: var(--sidebar-width); */
    /* visibility: visible; */
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 2;
    display: block;
}
.icon-close{
    display: none;
}

.view{
    position: absolute;
    width: var(--view-width);   
    right: 0;
    background-color: var(--background-color); 
    height: max-content;
    overflow: hidden;
}

/* ______________________sidebar_________________________ */
.sidebar-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 2rem 1.5rem;
    border: 1px solid var(--boder-color);

}
.sidebar-header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem 0 0;
}
.sidebar-header__logo-img{
    width: 2.5rem;
    margin-right: 1rem;
}
.sidebar-header__logo-title{
    font-size: 1.7rem;
    padding-top: 4%;
    color: var(--white-color);
    font-family: 'SFProDisplay Medium';
}
.sidebar-header__icon{
    width: 1.5rem;
    height: 1.2rem;
}
.sidebar-content{
    padding: 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--boder-color);
}
.sidebar-content__item{
    display: flex;
    flex-direction: row;    
    padding: 1.2rem 1.5rem;    
}
a.sidebar-content__item:hover{
    background-color: rgba(255, 255, 255, 0.07);
}
.sidebar-content__item--action{
    background-color: rgba(255, 255, 255, 0.07);
}
.sidebar-content__item-img1{
    margin-right: 1.4rem;    
}
.sidebar-content__item-img2{
    margin-right: 1rem;    
}

.sidebar-content__item-title{
    font-size: 1.4rem;
    color: var(--white-color);
}
.sidebar-content__head-title{
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: 'SFProDisplay Regular';
}
.sidebar-content__head{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.5rem;  
    margin-bottom: 1rem;  
}
.sidebar-content.sidebar-content__project{
    border-bottom: none;
}

/* ________________header________________________ */
.header{
    padding: 0.8rem 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 1rem 0 1rem 1rem;
    box-shadow: 0 1px 2px #ccc;

}
.header__search{
    display: flex;
    flex-direction: row;
}
.show-mobile{
    display: none;
}
.header__search-input input{
    width: 20rem;
    height: 4rem;
    border: none;
    padding: 0.2rem 1rem;
    font-size: 1.4rem;
    color: #000;
    font-family: 'SFProDisplay Regular';
    background-color: var(--background-color);
}
.header__search input:focus{
    border-bottom: 1px solid var(--btn-color);
    /* border-top: 1px solid var(--btn-color);
    border-left: 1px solid var(--btn-color); */
}
.header__search button{
    height: 4rem;
    background-color: var(--background-color);
    border: none;
    padding: 0.2rem 1rem;
    cursor: pointer;
}
.header__right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__right-item{
    padding: 0rem 1.5rem;
}
.header__right-item.btn:hover{
    box-shadow: 0 1px 2px var(--blue-color);
}
.btn__primary{
    background-color: var(--btn-color);
    color: var(--white-color);
    padding: 1.2rem;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    height: 4rem;
    vertical-align: middle;
    box-shadow: 0 1px 2px #ccc;
}
.btn__primary img{
    padding-right: 0.5rem;
}
.header__right-notify{
    margin-left: 1rem;
    position: relative;
}
.icon__notify{
    width: 2rem;
}
.header__right-notify::before{
    content: "";
    border-width: 0.4rem;
    border-style: solid;
    border-color: var(--primary-color);
    position: absolute;
    right: 30%;
    top: 0px;
    border-radius: 50%;

}
.header__right-user img{
    width: 4rem;
}

/* ____________________content_____________________ */
.content{
    margin-top: 2rem;
    /* background-color: var(--white-color); */
    min-height: 50rem;
    margin: 2rem 1rem 0rem;
    font-size: 1.4rem;
    font-family: 'SFProDisplay Regular';
}
.content__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content__cart{
    background-color: var(--white-color);  
    /* height: 25rem;   */
    border-radius: 0.2rem;
    border: 1px solid #ccc;
}
.content__head-right{
    display: flex;
    flex-direction: row;    
}
.content__head-right-item{
    margin: 1rem 1.5rem;
    color: var(--text-gray-color);
}
.content__head-right-item:hover{
    color: var(--text-blue-color);
    cursor: pointer;
}
.content__head-right-item--active{
    color: var(--text-blue-color);
    font-family: 'SFProDisplay Medium';
}
.content__content{
    background-color: var(--white-color);
    margin-top: 1.5rem;
    border-radius: 0.2rem;
    border: 1px solid var(--boder-color);
    box-shadow: 0 1px 2px #ccc;
}
.content__content-item{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--boder-color);
}
.content__content-item:hover{
    background-color: var(--hover-color);
}
.content__content-item--new{
    background-color: var(--hover-color);
}
.content__content-item-left{
    display: flex;
    flex-direction: row;
    width: 3rem;
    height: 3rem;
    position: relative;
    margin: 2rem;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid #ccc; 
    z-index: 1;
}
.content__content-item-left--checked{
    background-color: var(--btn-color);
}
.circle_check{
    opacity: 0;
    cursor: pointer;
}
.icon_check{
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 15%;
    top: 20%;
    border-radius: 50%;
    z-index: -1;
}
.icon_check--active{
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 15%;
    top: 20%;
    border-radius: 50%;
    z-index: -1;
}
.content__content-item-left-label{
    display: block;
    width: max-content;
    margin-left: 4rem;
    cursor: pointer;
    position: absolute;
    top: 0px;
}
.content__content-item-left-label-name--line{
    text-decoration: line-through;
    text-decoration-color: var(--text-gray-color);
}
.content__content-item-left-content-info{
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    color: var(--text-gray-color);
    margin-top: 0.5rem;
}
.content__content-item-left-content-info-icon{
    margin-right: 1rem;
}
.content__content-item-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}
.content__content-item-right-date{
    display: flex;
    align-items: center;
    margin-right: 3rem;
    color: var(--text-gray-color);
}
.content__content-item-right-date-img{
    margin-right: 0.5rem;
}
.content__content-item-right-status{
    /* display: flex;
    align-items: center; */
}
.content__content-item-right-status-icon{
    margin-right: 0.7rem;
    border-radius: 50%;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #ccc;
    height: 0px;
    width: 0px;
    display: inline-block;
}
.status-icon--in-progress{
    border-color: var(--yellow-color);   
    /* display: inline-block;  */
}
.content__content-item-right-status-name {
    display: inline-block;
}
.status-icon--new{
    border-color: var(--btn-color);    
}
.status-icon--complete{
    border-color: var(--green-color);    
}
.content__pagination{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* margin-right: 3rem; */
    margin: 2rem 5rem;
}
.content__pagination-total{
    display: flex;
}
.content__pagination-total-value{
    margin: 0 1rem;
    font-weight: bolder;
    color: var(--text-gray-color);
}
.content__pagination-number{
    display: flex;
    margin-left: 2rem;
}
.content__pagination-number-item{
    margin: 0 1rem;
    padding: 0.1rem 0.5rem;
}
.content__pagination-number-item:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #0f1ff7b8;
}
.content__pagination-number--active{
    border-radius: 50%;
    background-color: #0f1ff7b8;       
}

/* ____________________Page Detail___________________________ */
.content-detail{
    margin: 0;    
}
.content__content-detail{
    margin: 0;
    min-height: 95rem;
}
.content__content-detail-right{
    margin-right: 1rem;
}
.content__detail{
    background-color: var(--white-color);
    margin: 1rem 1rem 1rem 0;
    padding: 1rem 2rem 2rem 2rem;
    border: 1px solid var(--boder-color);
    box-shadow: 0 1px 2px #ccc;
    
}
.content__detail-head {
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--boder-color);
}
.content__detail-head-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.content__detail-head-top-title{
    font-size: 1.8rem;
    font-family: 'SFProDisplay Medium';
}
.content__detail-head-top-mark{
    display: flex;
    align-items: center;
    border: 1px solid var(--boder-color);
    background-color: var(--white-color);
    padding: 0.5rem;
    box-shadow: 0 1px 3px var(--hover-color);
    border-radius: 2px;
    transition: 0.3s;

}
.content__detail-head-top-mark:hover{
    box-shadow: 0 0px 1px var(--btn-color);  
    border: 1px solid var(--btn-color);
    cursor: pointer;  
    transform:  scale(1.02);

}
.content__detail-head-top-mark button{
    background-color: var(--white-color);
    color: var(--text-gray-color);
}
.content__detail-head-info{
    display: flex;

}
.content__detail-head-info-item{
    margin-right: 5rem;
    display: flex;
    align-items: center;
    /* position: relative; */
}
.content__detail-head-info-item img{
    width: 4rem;
}
.content__detail-head-info-item-img{
    border-radius: 50%;
    border: 1px solid #ccc;
}

.content__detail-head-info-item:first-child{
    margin-right: 10rem;
}
.content__detail-head-info-detail{
    margin-left: 1rem;
}
.detail-note{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--text-gray-color);
}
.detail-info{
    font-size: 1.2rem;
}
.content__detail-descript{
    margin-top: 3rem;
}
.content__detail-descript-item1-title{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.content__detail-descript-item1-progress{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-gray-color);
}
#progressbar {
    background-color: var(--hover-color);
    border-radius: 13px;
    width: 30rem;
    height: 1rem;
    margin-right: 2rem;
  }
  
  #progressbar>div {
    background-color: var(--green-color);
    width: 30%;
    height: 1rem;
    border-radius: 10px;
  }
.content__detail-descript-item2{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.content__detail-descript-item2-title{
    text-transform: uppercase;
    color: var(--text-gray-color);
    margin-bottom: 1rem;
}
.content__detail-descript-item2-descript{
    line-height: 3rem;
    font-size: 1.4rem;    
}

.content__detail-descript-item3-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 2rem;
    height: 2rem;
    position: relative;
    margin: 2rem;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid #ccc; 
    z-index: 1;
}
.content__detail-descript-item3-check--checked{
    background-color: var(--green-color);
}
.circle_check2{
    opacity: 0;
    cursor: pointer;
}
.icon_check2{
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 15%;
    top: 20%;
    border-radius: 50%;
    z-index: -1;
}
.icon_check--active2{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 15%;
    top: 15%;
    border-radius: 50%;
    z-index: -1;
}
.content__detail-descript-item3{
    margin-top: 5rem;
}
.content__detail-descript-item3-title{
    font-size: 1.6rem;
    font-weight: bold;
}
.content__detail-descript-item3-title img{
    width: 1.5rem;
    margin-right: 1rem;
}
.content__detail-descript-item3-check-label{
    /* display: block;
    width: max-content;
    margin-left: 2rem;
    cursor: pointer;
    position: absolute; */

    display: inline-block;
    padding-top: 0.5rem;
    padding-left: 4rem;
}
.content__detail-descript-item3-group {
    border-bottom: 1px solid var(--boder-color);
    padding: 0.5rem;
    display: inline-block;
    margin-left: 3.5rem;
    width: 90%;
    position: relative;
    height: 3rem;
}
.content__detail-descript-item3-check:last-child {
    margin-top: 4rem;
    color: var(--text-gray-color);
}
.content__detail-descript-item3-check:last-child .content__detail-descript-item3-check-label{
    margin-left: 1rem;
    top: 15%;
}
.content__detail-descript-item3-ext {
    display: inline-block;
    right: 0;
    position: absolute;
    top: 0;
}
.content__detail-descript-item3-ext img{
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    border: 1px dashed var(--text-gray-color);
}
.content__detail-descript-item3-ext img:last-child{
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}
.content__detail-descript-item3-check-label--line {
    text-decoration: line-through;
    font-style: italic;
    text-decoration-color: var(--text-gray-color);
    display: inline-block;
    padding-top: 0.5rem;
    padding-left: 4rem;
}

.content__detail-comment{
    margin: 3rem;
    background-color: var(--white-color);
    border-radius: 0.4rem;
    padding: 2rem 3rem;    
    border: 1px solid var(--boder-color);
    box-shadow: 0 1px 2px #ccc;
}
.content__detail-comment textarea{
    height: 10rem;
    width: 100%;
    border: none;
    padding: 1rem;
}
.content__detail-comment-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon__ckeditor{
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
.content__detail-comment-bottom-btn button{
    padding: 0.5rem 1rem;
}

/* _______________Page Progress______________________ */
.content__head-percent{
    display: flex;
    align-items: center;
}


.content__head-percent-use{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: 0.4rem 0.5rem;
    background: linear-gradient(to bottom, #6DD400, #F7B500);
    /* border: 3px solid linear-gradient(to right,rgb(255, 166, 0), rgb(123, 255, 0),rgb(152, 194, 2)); */
    text-align: center;
    top: 25%;
    /* font: 32px Arial, sans-serif; */
}
.content__head-percent-number{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 1.2rem 0.5rem;
    background: var(--white-color);
    /* border: 3px solid linear-gradient(to right, red, purple); */
    color: #000;
    font-family: 'SFProDisplay Medium';
    text-align: center;
    top: 25%;
}
.content__head-info{
    margin-left: 1rem;
}
.content__head-info-title{
    font-family: 'SFProDisplay Medium';
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.content__head-info-descript{
    display: flex;
    align-items: center;
}
.content__head-info-descript-item{
    margin-left: -1rem;
}
.content__head-info-descript-item:first-child{
    margin-left: 0rem;
}
.content__head-info-descript-share {
    background-color: var(--white-color);
    margin-left: 2rem;
    padding: 0.5rem;
    height: 3rem;
    border-radius: 0.4rem;
    border: 1px solid var(--boder-color);
    box-shadow: 0 1px 2px #ccc;
}
.content__head-info-descript-share:hover{
    border: 1px solid var(--btn-color);
    box-shadow: 0 1px 2px var(--btn-color);
    transition: 0.3s;
}
.content__head-info-descript-share img{
    width: 1.6rem;
    padding-top: 2px;
}
.content__head-date{
    display: flex;
}
.content__head-date .content__detail-head-info-item{
    margin-right: 2rem;
}
.text-change{
    color: var(--primary-color);
}
.content__progress{
    margin: 2rem 0.5rem;
}
.content__progress-cart{
    background-color: var(--white-color);
    border-radius: 0.4rem;
    box-shadow: 0 1px 2px var(--boder-color);
    min-height: 80rem;

}
.content__progress-cart-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    font-family: 'SFProDisplay Medium';
    font-size: 1.8rem;
}
.content__progress-cart-body-item{
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;    
}
.content__progress-cart-body-item:hover{
    cursor: pointer;
}
.content__progress-cart-body-item-info{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: 2rem 0 0.5rem 0;
    font-size: 1.2rem;
    color: var(--text-gray-color);
}
.content__progress-cart-body-item-info-des img{
    margin-right: 0.3rem;
}
.content__progress-cart-body{
    position: relative;
}
.content__progress-cart-body-item--active{
    width: 16em;
    transform: rotate(-16deg);
    transform-origin: 100% 450%;
    background-color: var(--white-color);
    position: relative;
}
.content__progress-cart-body-item--active::before{
    content: "";
    border: 12rem dashed var(--background-color);
    position: absolute;
    right: 30%;
    top: -9px;
    -ms-transform: rotate(360deg);
    transform: rotate(16deg);
    transform-origin: 100% 257%;
}

.content__progress-cart-body-item.sortable-placeholder {
    border: 1px dashed var(--boder-color);
    background: var(--background-color);
}
.handles span {
    cursor: move;
}
/* _____________________Dashboard_______________ */
.content__cart{
    padding: 1rem;
    margin-bottom: 2rem;
    height: 32rem;
}
.content__cart2{
    background-color: var(--white-color);  
    padding: 1rem;
    margin-bottom: 2rem;
}
.content__cart-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'SFProDisplay Medium';
}
.content__cart-head-title{
    font-size: 1.6rem;
}
.content__cart-head-title img{
    width: 0.5rem;
    margin-right: 1rem;
}
.content__cart-bottom{
    margin: 2rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__cart-bottom-item{
    text-align: center;
}
.content__cart-bottom-item-value{
    font-weight: bold;
    margin-top: 0.5rem;
}
.content__cart-head-body{
    position: relative;
}
.cart-bottom2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.chart-info{
    position: absolute;
    height: max-content;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    transform: none;
    margin: auto;
    text-align: center;
}
.title{
    color: var(--text-gray-color);
    margin-bottom: 0.5rem;
}
.numb{
    font-weight: bold;
    font-size: 1.6rem;
}
.table__group{
    display: flex;
    align-items: center;
}
.table__group-img{
    margin-right: 1rem;
}
.table__group-img img{
    width: 3rem;
    margin-left: -0.75rem;
}
.table__group-img img:first-child{
    margin-left: 0;
}
.table__overdue{
    color: var(--primary-color);
    background-color: #FFF7F7;
}

.cart-item3{
    padding-bottom: 0;
}
.cart-item3-body{
    margin-top: 0.75rem;
}
.user{
    text-align: start;
}


/* _____________chart____________ */
#myChart1,
#myChart2 {
    width: 200px;
    height: 200px;
    margin: 0.5rem auto;
}
#myChart3{
    height: 400px;
}
.highcharts-credits{
    display: none;
}
.table__group-percent{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 0.4rem 0.5rem;
    background: linear-gradient(to bottom, #6DD400, #F7B500);
    text-align: center;
    top: 25%;
}
.percent-full{
    background: linear-gradient(to left, #5ED9A2, #30B168);
}
.percent-zero{
    background: #D8D8D8;
}

.table__group-percent-number {
    display: inline-block;
    border-radius: 50%;
    width: 3.1rem;
    height: 3.1rem;
    padding: 0.8rem 0;
    background: var(--white-color);
    color: #000;
    font-family: 'SFProDisplay Medium';
    font-size: 1.2rem;
}
.table__group-name {
    text-align: start;
    margin-left: 1rem;
}
.table__group-name-info{
    font-size: 1.2rem;
    color: var(--text-gray-color);
}
.content__cart2 th {
    font-family: 'SFProDisplay Thin';
    color: var(--text-gray-color);
    font-size: 1.2rem;
}
.content__cart2{
    height: 45rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}
.table__date {
    display: block;
    vertical-align: middle;
    position: relative;
    padding-left: 1rem;
}
.table__date img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 1rem;
    width: 1.2rem;
    padding-top: 0.1rem;
}
.table__date-value {
    color: var(--text-gray-color);
    font-size: 1.2rem;
}
.content__content-item-right-status {
    float: left;
    padding-left: 1rem;
}

figure {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.input-checkbox {
    border: none;
    width: 30rem;
}
.input-checkbox:focus{
    border-bottom: 1px solid var(--btn-color);
    padding-bottom: 0.5rem;
}

/* ___________checkbox______ */
.check-list {
    padding: 1rem;
}
.check-list:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
.check-list1 {
    display: inline-block;
}
.content__content-item-left-content-info {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--text-gray-color);
    display: inline-block;
    margin-left: 4.5rem;
}
.content__content-item-right.content__content-detail-right {
    display: inline-block;
    float: right;
    margin-top: 1.4rem;
}

/* Base for label styling */
.check-list1 input[type="checkbox"]:not(:checked),
.check-list1 input[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
.check-list1 input[type="checkbox"]:not(:checked) + label,
.check-list1 input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 3.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
    display: block;
}

/* checkbox aspect */
.check-list1 input[type="checkbox"]:not(:checked) + label:before,
.check-list1 input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 3rem;
    height: 3rem;
    border: 1px solid #aaa;
    background: var(--white-color);
    border-radius: 50%;
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
    -webkit-transition: all .275s;
    transition: all .275s;
}

/* checked mark aspect */
.check-list1 input[type="checkbox"]:not(:checked) + label:after,
.check-list1 input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    content: "";
    height: 8px;
    left: 0.8rem;
    opacity: 0;
    position: absolute;
    top: 1.5rem;
    transform: rotate(-45deg);
    width: 15px;
    -webkit-transition: all .2s;
    transition: all .2s;}

/* checked mark aspect changes */
.check-list1 input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  /* -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg); */
}

.check-list1 input[type="checkbox"]:checked + label:after {
  opacity: 1;
  /* -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0); */
}


/* _________________checkbox2___________________ */
.check-list2 {
    position: relative;
    margin-top: 2rem;
    display: block;
  }

  .check-list2 label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 2.5rem;
    left: 1.5rem;
    position: absolute;
    top: 0;
    width: 2.5rem;
}

.check-list2 label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 7px;
    transform: rotate(-45deg);
    width: 12px;
}

  .check-list2 input[type="checkbox"] {
    visibility: hidden;
  }

  .check-list2 input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }

  .check-list2 input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
