/* Mobile & tablet: <1024*/
@media (max-width: 1023px){
    
    .hide-on-mobile-tablet{
        display: none;
    }
    .show-on-mobile-tablet{
        display: block;
    }
    .content__content-detail{
        min-height: max-content;
    }
    .content__progress-cart{
        min-height: max-content;
    }
    
}

/* Tablet :>=740 & <1024*/
@media (min-width: 740px) and (max-width: 1023px){
    :root{
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-tablet{
        display: none;
    }
    .overlay.show{
        display: none;
    }
}

/* Mobile: <740 */
@media (max-width: 739px){
    :root{
        --header-height: 54px;
        --navbar-height: 0px;
    }
    .hide-on-mobile{
        display: none;
    }
    .content__head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .content__head-date{
        margin-top: 2rem;
    }
    button.show-mobile{
        display: block;
    }
    .header__search button{
        border: 1px solid #ccc;
        margin-right: 2rem;

    }
    .header__search-input{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .icon-sidebar{
        display: none;
    }
    .icon-close{
        display: block;
    }
    .sidebar.expand{
        display: none;
    }
    .view{
        width: 100%;
    }
    .sidebar-content__item,
    .sidebar-content__head{
        padding: 1.2rem 3rem;
    }   
    
    @keyframes mobileSearchSideIn {
        from{
            opacity: 0;
            top: calc(var(--header-height)/2);
        }
        to{
            opacity: 1;
            top: var(--header-height); 
        }
    }
    .header__logo-img{
        width: 100px;
    }
    
    .content__detail-head-info-item:first-child {
        margin-right: 7rem;
    }
    .content__content-item{
        padding: 1rem;
    }
    .content__content-item-right{
        margin-right: 0;
    }
    .content__content-item-right-date{
        margin-right: 1rem;
    }
}

