@import "./mixin", "./vars";

body{
    background-color: $background-color;

    

}
.wrapper{
    position: relative;
    
    .overlay{
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        display: none;   
        
        &.show{
            @media (min-width: 740px) and (max-width: 1023px){
                display: none;
            }
            @media (max-width: 739px){
                display: block;
            }
        }
    }
    
    .sidebar{
        position: fixed;
        width: 24rem;
        min-height: 800px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 81.61%;
        background-color: $blue-color;

        &.show{
            display: block;
            z-index: 1;
        }

        .sidebar-header{
            display: block;
            position: relative;
            padding: 2rem 1rem 2rem 1.5rem;
            border: 1px solid $boder-color;
            
            .logo{
                display: block;
                position: relative;
                padding: 0 1rem 0 0;
                
                .logo-img{
                    width: 2.5rem;
                    margin-right: 1rem;

                    @media (max-width: 739px){
                        width: 2.5rem;
                    }
                }
                .logo-title{
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-100%,-70%);
                    font-size: 1.7rem;
                    padding-top: 4%;
                    color: $white-color;
                    font-family: 'SFProDisplay Medium';

                    &.hide{
                        display: none;
                    }
                }
            }
            .sidebar-icon{
                float: right;
                position: absolute;
                top: 50%;
                right: 0%;
                transform: translate(-50%, -50%);
                &.expand{
                    @media (max-width: 739px){
                        display: none;
                    }
                }
                .icon-sidebar{
                    width: 1.5rem;
                    height: 1.2rem;
                    @media (max-width: 739px){
                        display: none;
                    }
                }
                
                .icon-close{
                    width: 1.5rem;
                    height: 1.2rem;
                    @media (max-width: 739px){
                        display: block;
                    }
                }
            }

            &.expand{
                @media (max-width: 739px){
                    display: none;
                }
            }

        }

        .sidebar-content{
            padding: 2rem 0rem 2rem;
            border-bottom: 1px solid $boder-color;
            
            .item{
                display: block; 
                padding: 1.2rem 1.5rem;   
                
                .img1{
                    margin-right: 1.4rem;    
                }
                .img2{
                    margin-right: 1rem;    
                }
                .title{
                    display: inline-block;
                    font-size: 1.4rem;
                    color: $white-color;

                    &.hide{
                        display: none;
                    }
                }

                @media (max-width: 739px){
                    padding: 1.2rem 3rem;
                }
            }
            .item:hover{
                background-color: rgba(255, 255, 255, 0.07);
            }
            .item--action{
                background-color: rgba(255, 255, 255, 0.07);
            }

            .head{
                display: block;
                // justify-content: space-between;
                padding: 1.2rem 1.5rem;  
                margin-bottom: 1rem;  

                .title{
                    color: $text-color;
                    font-size: 1.6rem;
                    font-family: 'SFProDisplay Regular';
                    display: inline-block;
                }

                @media (max-width: 739px){
                    padding: 1.2rem 3rem;
                }
                img{
                    float: right;
                }
            }

            &.content-project{
                border-bottom: none;
            }
        }
        
        .show{
            left: 0;
            opacity: 1;
            transition: all 0.3s ease;
            z-index: 2;
        }
        
        .icon-close{
            display: none;
        }
                   
        @media (max-width: 739px){
            display: none;
        }
    }
    
    
    .view{
        position: absolute;
        width: $view-width;   
        right: 0;
        background-color: $background-color; 
        height: max-content;
        overflow: hidden;

        .header{
            padding: 0.8rem 1.6rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $white-color;
            padding: 1rem 0 1rem 1rem;
            box-shadow: 0 1px 2px #ccc;

            .search{
                display: flex;
                flex-direction: row;

                button{
                    height: 4rem;
                    background-color: $background-color;
                    border: 1px solid $boder-color;
                    padding: 0.2rem 1rem;
                    cursor: pointer;

                    .sidebar-icon2{
                        width: 1.5rem;
                        height: 1.2rem;
                    }
                    
                    &.show-mobile{
                        display: none;
                        @media (max-width: 739px){
                            display: block;
                            margin-right: 2rem;
                        }
                    }
                }  
                .search-input{
                    @media (max-width: 739px){
                        display: none;
                    }

                    input{
                        width: 20rem;
                        height: 4rem;
                        border: none;
                        padding: 0.2rem 1rem;
                        font-size: 1.4rem;
                        color: #000;
                        font-family: 'SFProDisplay Regular';
                        background-color: $background-color;
                    }
                    input:focus{
                        border-bottom: 1px solid $btn-color;
                    } 
                }
            }

            .header-right{
                display: flex;
                flex-direction: row;
                align-items: center;

                .item{
                    padding: 0rem 1.5rem;
                    &.btn:hover{
                        box-shadow: 0 1px 2px $blue-color;
                    }
                    &.btn-primary{
                        background-color: $btn-color;
                        color: $white-color;
                        padding: 1.2rem;
                        border-radius: 0.4rem;
                        font-size: 1.6rem;
                        height: 4rem;
                        vertical-align: middle;
                        box-shadow: 0 1px 2px #ccc;

                        img{
                            padding-right: 0.5rem;
                        }
                    }

                    &.notify{
                        margin-left: 1rem;
                        position: relative;
                        .icon__notify{
                            width: 2rem;
                        }
                    }
                    .notify::before{
                        content: "";
                        border-width: 0.4rem;
                        border-style: solid;
                        border-color: $primary-color;
                        position: absolute;
                        right: 30%;
                        top: 0px;
                        border-radius: 50%;
                    
                    }
                    &.user img{
                        width: 4rem;
                    }
                }

            }

        }
        @media (max-width: 739px){
            width: 100%;
        }

        .check-list1 {
            display: inline-block;

            input[type="checkbox"]:not(:checked),
            input[type="checkbox"]:checked {
                position: absolute;
                left: 0;
                opacity: 0.01;
            }

            input[type="checkbox"]:not(:checked) + label,
            input[type="checkbox"]:checked + label {
                position: relative;
                padding-left: 3.3em;
                font-size: 1.05em;
                line-height: 1.7;
                cursor: pointer;
                display: block;
            }

            input[type="checkbox"]:not(:checked) + label:before,
            input[type="checkbox"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                width: 3rem;
                height: 3rem;
                border: 1px solid #aaa;
                background: $white-color;
                border-radius: 50%;
                box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
                -webkit-transition: all .275s;
                transition: all .275s;
            }

            input[type="checkbox"]:not(:checked) + label:after,
            input[type="checkbox"]:checked + label:after {
                content: '';
                position: absolute;
                border: 2px solid #000;
                border-top: none;
                border-right: none;
                content: "";
                height: 8px;
                left: 0.8rem;
                opacity: 0;
                position: absolute;
                top: 1.5rem;
                transform: rotate(-45deg);
                width: 15px;
                -webkit-transition: all .2s;
                transition: all .2s;
            }
            input[type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
            }
            input[type="checkbox"]:checked + label:after {
                opacity: 1;
            }

            .info {
                font-size: 1.2rem;
                line-height: 1.6rem;
                color: $text-gray-color;
                display: inline-block;
                margin-left: 4.5rem;
            }

              
            
        }
        .status-icon{
            margin-right: 0.7rem;
            border-radius: 50%;
            border-width: 0.5rem;
            border-style: solid;
            border-color: #ccc;
            height: 0px;
            width: 0px;
            display: inline-block;

            &.in-progress{
                border-color: $yellow-color;   
            }
            &.new{
                border-color: $btn-color;    
            }
            &.complete{
                border-color: $green-color;    
            }
        }

        .content{
            margin-top: 2rem;
            /* background-color: $white-color; */
            min-height: 50rem;
            margin: 2rem 1rem 0rem;
            font-size: 1.4rem;
            font-family: 'SFProDisplay Regular';

            .head{
                display: block;

                .title{
                    display: inline-block;
                }
                
                .right{
                    width: 17rem;
                    float: right;
                    display: block;
                    
                    .item{
                        margin: 1rem 1.5rem;
                        color: $text-gray-color;
                        display: inline;

                        &.item--active{
                            color: $text-blue-color;
                            font-family: 'SFProDisplay Medium';
                        }
                    }
                    .item:hover{
                        color: $text-blue-color;
                        cursor: pointer;
                    }
                }

                .info-item{
                    position: relative;
                    margin-right: 5rem;
                    display: inline-block;
                    margin: 0 auto;

                    img{
                        width: 4rem;
                        display: block;
                        margin-right: 10rem;
                    }

                    .info-item-img{
                        border-radius: 50%;
                        border: 1px solid #ccc;
                    }
                    .info-detail{
                        margin-left: 1rem;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: max-content;

                    }
                    .detail-note{
                        margin-bottom: 0.5rem;
                        font-size: 1rem;
                        color: $text-gray-color;
                    }
                    .detail-info{
                        font-size: 1.2rem;
                    }
                    .text-change{
                        color: $primary-color;
                    }
                }
                .head-percent{
                    display: inline-block;
                    margin-right: 10rem;
                    width: 30rem;

                    .percent-use{
                        float: left;
                        border-radius: 50%;
                        width: 5rem;
                        height: 5rem;
                        padding: 0.4rem 0.5rem;
                        background: linear-gradient(to bottom, #6DD400, #F7B500);
                        /* border: 3px solid linear-gradient(to right,rgb(255, 166, 0), rgb(123, 255, 0),rgb(152, 194, 2)); */
                        text-align: center;
                        top: 25%;
                        /* font: 32px Arial, sans-serif; */
                    }
                    .percent-number{
                        border-radius: 50%;
                        width: 4rem;
                        height: 4rem;
                        padding: 1.2rem 0.5rem;
                        background: $white-color;
                        /* border: 3px solid linear-gradient(to right, red, purple); */
                        color: #000;
                        font-family: 'SFProDisplay Medium';
                        text-align: center;
                        top: 25%;
                    }
                }
                .head-info{
                    margin-left: 1rem;

                    .info-title{
                        font-family: 'SFProDisplay Medium';
                        font-size: 1.6rem;
                        margin-bottom: 0.5rem;
                    }
                    .info-descript{
                        display: flex;
                        align-items: center;

                        .descript-item{
                            margin-left: -1rem;
                        }
                        .descript-item:first-child{
                            margin-left: 0rem;
                        }
                        .descript-share {
                            background-color: $white-color;
                            margin-left: 2rem;
                            padding: 0.5rem;
                            height: 3rem;
                            border-radius: 0.4rem;
                            border: 1px solid $boder-color;
                            box-shadow: 0 1px 2px #ccc;
                        }
                        .descript-share:hover{
                            border: 1px solid $btn-color;
                            box-shadow: 0 1px 2px $btn-color;
                            transition: 0.3s;

                            img{
                                width: 1.6rem;
                                padding-top: 2px;
                            }
                        }

                    }
                    
                }
                .head-date{
                    display: inline-block;

                    .date-item{
                        margin-right: 2rem;
                    }
                }

            }

            // _______________Page Task_______________
            .content-content{
                background-color: $white-color;
                margin-top: 1.5rem;
                border-radius: 0.2rem;
                border: 1px solid $boder-color;
                box-shadow: 0 1px 2px #ccc;

                // _______________Page Task_______________

                .item{
                    padding: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border: 1px solid $boder-color;

                    .line-through{
                        text-decoration: line-through;
                        text-decoration-color: $text-gray-color;
                    }
                    .info{
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        display: flex;
                        align-items: center;
                        color: $text-gray-color;
                        margin-top: 0.5rem;

                        .info-icon{
                            margin-right: 1rem;
                        }
                    }
                    .item-right{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: 2rem;

                        .date{
                            display: flex;
                            align-items: center;
                            margin-right: 3rem;
                            color: $text-gray-color;

                            .date-img{
                                margin-right: 0.5rem;
                            }
                        }
                        
                        .status-name {
                            display: inline-block;
                        }
                    }
                }
                .item:hover{
                    background-color: $hover-color;
                }

                .pagination{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin: 2rem 5rem;

                    .total{
                        display: flex;

                        .total-value{
                            margin: 0 1rem;
                            font-weight: bolder;
                            color: $text-gray-color;
                        }
                    }
                    .number{
                        display: flex;
                        margin-left: 2rem;

                        .item{
                            margin: 0 1rem;
                            padding: 0.1rem 0.5rem;
                        }
                        .item:hover{
                            cursor: pointer;
                            border-radius: 50%;
                            background-color: #0f1ff7b8;
                        }
                        .item--active{
                            border-radius: 50%;
                            background-color: #0f1ff7b8;       
                        }
                    }
                }
                .check-list {
                    padding: 1rem;
                    border-bottom: 1px solid $boder-color;

                    &.item--new{
                        background-color: $hover-color;
                    }
                    .detail-right{
                        float: right;
                        display: inline-block;
                        margin-top: 1.4rem;
                        margin-right: 1rem;
                        .status{
                            float: left;
                            padding-left: 1rem;
                        }
                    }                    

                }
                .check-list:hover{
                    background-color: $hover-color;
                    cursor: pointer;
                }

                &.detail-task{
                    margin-top: 0;
                    height: 92rem;
                    @media (max-width: 1023px){
                        height: max-content;
                    }
                }
                
            }
            // _______________Page Detail_______________
            &.page-detail{
                margin: 0; 

                .detail-infomation{
                    background-color: $white-color;
                    margin: 1rem 1rem 1rem 0;
                    padding: 1rem 2rem 2rem 2rem;
                    border: 1px solid $boder-color;
                    box-shadow: 0 1px 2px #ccc;
                    
                    .head {
                        padding-bottom: 3rem;
                        border-bottom: 1px solid $boder-color;
                        display: block;

                        .top{
                            display: block;

                            // justify-content: space-between;
                            // align-items: center;
                            margin: 2rem 0;
                            .top-title{
                                font-size: 1.8rem;
                                font-family: 'SFProDisplay Medium';
                                float: left;
                            }
                            .top-mark{
                                // display: flex;
                                // align-items: center;
                                float: right;
                                border: 1px solid $boder-color;
                                background-color: $white-color;
                                padding: 0.5rem;
                                box-shadow: 0 1px 3px $hover-color;
                                border-radius: 2px;
                                transition: 0.3s;
                                
                                button{
                                    background-color: $white-color;
                                    color: $text-gray-color;
                                }
                            }
                            .top-mark:hover{
                                box-shadow: 0 0px 1px $btn-color;  
                                border: 1px solid $btn-color;
                                cursor: pointer;  
                                transform:  scale(1.02);
                            
                            }

                        }

                        .info{
                            // display: block;
                            padding-top: 3rem;
                            
                            .info-item:first-child{
                                margin-right: 10rem;
                                @media (min-width: 740px) and (max-width: 1023px){
                                    margin-right: 0rem;

                                }
                            }
                        }
                    }
                    .detail-descript{
                        margin-top: 3rem;

                        .item1-title{
                            font-size: 1.6rem;
                            margin-bottom: 1rem;
                        }
                        .item1-progress{
                            display: flex;
                            align-items: center;
                            font-size: 1.4rem;
                            color: $text-gray-color;
                        }
                        #progressbar {
                            background-color: $hover-color;
                            border-radius: 13px;
                            width: 30rem;
                            height: 1rem;
                            margin-right: 2rem;
                        }
                          
                        #progressbar>div {
                        background-color: $green-color;
                        width: 30%;
                        height: 1rem;
                        border-radius: 10px;
                        }

                        .item2{
                            margin-top: 4rem;
                            margin-bottom: 1rem;
                            .item2-title{
                                text-transform: uppercase;
                                color: $text-gray-color;
                                margin-bottom: 1rem;
                            }
                            .item2-descript{
                                line-height: 3rem;
                                font-size: 1.4rem;    
                            }

                        }
                        .item3{
                            margin-top: 5rem;

                            .item3-title{
                                font-size: 1.6rem;
                                font-weight: bold;
                            }
                            img{
                                width: 1.5rem;
                                margin-right: 1rem;
                            }
                            .check-label{
                                display: inline-block;
                                padding-top: 0.5rem;
                                padding-left: 4rem;
                            }
                            .item3-group {
                                border-bottom: 1px solid $boder-color;
                                padding: 0.5rem;
                                display: inline-block;
                                margin-left: 3.5rem;
                                width: 90%;
                                position: relative;
                                height: 3rem;
                            }
                            .item3-ext {
                                display: inline-block;
                                right: 0;
                                position: absolute;
                                top: 0;
                                img{
                                    width: 2.5rem;
                                    border-radius: 50%;
                                    margin-right: 1rem;
                                    border: 1px dashed $text-gray-color;
                                }
                                img:last-child{
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    border: none;
                                }
                            }
                            .line-through {
                                text-decoration: line-through;
                                font-style: italic;
                                text-decoration-color: $text-gray-color;
                                display: inline-block;
                                padding-top: 0.5rem;
                                padding-left: 4rem;
                            }
                            .check-list2 {
                                position: relative;
                                margin-top: 2rem;
                                display: block;
            
                                label {
                                    background-color: #fff;
                                    border: 1px solid #ccc;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    height: 2.5rem;
                                    left: 1.5rem;
                                    position: absolute;
                                    top: 0;
                                    width: 2.5rem;
                                }
                                label:after {
                                    border: 2px solid #fff;
                                    border-top: none;
                                    border-right: none;
                                    content: "";
                                    height: 6px;
                                    left: 5px;
                                    opacity: 0;
                                    position: absolute;
                                    top: 7px;
                                    transform: rotate(-45deg);
                                    width: 12px;
                                }
                                input[type="checkbox"] {
                                    visibility: hidden;
                                }
            
                                input[type="checkbox"]:checked + label {
                                    background-color: #66bb6a;
                                    border-color: #66bb6a;
                                }
                                input[type="checkbox"]:checked + label:after {
                                    opacity: 1;
                                }
            
                            }

                            .input-checkbox{
                                border: none;
                                outline: none;
                                width: 30rem;
                            }
                            .input-checkbox:focus{
                                border-bottom: 1px solid $btn-color;
                                padding-bottom: 0.5rem;
                            }

                        }
                    }
                }
                .detail-comment{
                    margin: 3rem;
                    background-color: $white-color;
                    border-radius: 0.4rem;
                    padding: 2rem 3rem;    
                    border: 1px solid $boder-color;
                    box-shadow: 0 1px 2px #ccc;

                    textarea{
                        height: 10rem;
                        width: 100%;
                        border: none;
                        padding: 2rem;
                        margin: 1rem auto 1rem;
                    }
                    .bottom{
                        position: relative;
                        margin: 2rem 0 2rem 1rem;
                        padding: 1rem;

                        .ckeditor{
                            // position: absolute;
                            float: left;
                            // top: 50%;
                            // left: 15%;
                            // transform: translate(-50%, -50%);
                        }
                        .icon__ckeditor{
                            margin-right: 1rem;
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                        .comment-btn{
                            position: absolute;
                            bottom: -1rem;
                            right: 0;
                        }
                    }
                }
            }

            // _______________Page Progress_______________
            &.content__progress{
                margin: 2rem 0.5rem;
                .progress-cart{
                    background-color: $white-color;
                    border-radius: 0.4rem;
                    box-shadow: 0 1px 2px $boder-color;
                    min-height: 80rem;
                    @media (max-width: 1023px){
                        min-height: 50rem;
                        margin: 1rem 0;
                    }
                
                    .cart-head{
                        display: block;
                        padding: 1rem;
                        border-bottom: 1px solid #ccc;
                        font-family: 'SFProDisplay Medium';
                        font-size: 1.8rem;
                    }
                    .cart-body{
                        position: relative;
                        .item{
                            margin: 1rem;
                            border: 1px solid #ccc;
                            border-radius: 0.2rem;
                            padding: 0.5rem 1rem;   
                            
                            .item-info{
                                display: flex;
                                justify-items: center;
                                justify-content: space-between;
                                margin: 2rem 0 0.5rem 0;
                                font-size: 1.2rem;
                                color: $text-gray-color;
                                img{
                                    margin-right: 0.3rem;
                                }
                            }                           
                        }
                        .item:hover{
                            cursor: pointer;
                        }
                        .content__progress-cart-body-item.sortable-placeholder {
                            border: 1px dashed $boder-color;
                            background: $background-color;
                        }
                        .handles span {
                            cursor: move;
                        }

                    }
                }
            }

            // _______________Page Dashboard_______________
            .content__dashboard{
                .head-title{
                    font-size: 1.6rem;
                    display: inline-block;

                    img{
                        width: 0.6rem;
                        margin-right: 1rem;
                    }
                }
                .cart-head{
                    display: block;
                    font-family: 'SFProDisplay Medium'; 
                    .icon__regular{
                        float: right;
                    }                      
                }
                .table__group{
                    display: flex;
                    align-items: center;

                    .group-img{
                        margin-right: 1rem;

                        img{
                            width: 3rem;
                            margin-left: -0.75rem;
                        }
                        // img:first-child{
                        //     margin-left: 0;
                        // }
                    }
                    .group-percent{
                        border-radius: 50%;
                        width: 4rem;
                        height: 4rem;
                        padding: 0.4rem 0.5rem;
                        background: linear-gradient(to bottom, #6DD400, #F7B500);
                        text-align: center;
                        top: 25%;

                        &.percent-full{
                            background: linear-gradient(to left, #5ED9A2, #30B168);
                        }
                        &.percent-zero{
                            background: #D8D8D8;
                        }
                        .percent-number {
                            display: inline-block;
                            border-radius: 50%;
                            width: 3.1rem;
                            height: 3.1rem;
                            padding: 0.8rem 0;
                            background: $white-color;
                            color: #000;
                            font-family: 'SFProDisplay Medium';
                            font-size: 1.2rem;
                        }

                    }
                    .group-name {
                        text-align: start;
                        margin-left: 1rem;
                        .name-info{
                            font-size: 1.2rem;
                            color: $text-gray-color;
                        }
                        
                    }


                }
                .content__cart{
                    padding: 1rem;
                    margin-bottom: 2rem;
                    height: 32rem;
                    background-color: $white-color;
                    border-radius: 0.2rem;
                    border: 1px solid #ccc;
                    
                    .head-body{
                        position: relative;     

                        .chart-info{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        .title{
                            color: $text-gray-color;
                            margin-bottom: 0.5rem;
                        }
                        .numb{
                            font-weight: bold;
                            font-size: 1.6rem;
                        }
                        
                        
                        .overdue{
                            color: $primary-color;
                            background-color: #FFF7F7;
                        }
                        
                        .cart-item3{
                            padding-bottom: 0;
                        }
                        &.cart-item3-body{
                            margin-top: 0.75rem;
                        }
                        .user{
                            text-align: start;
                        }
                        
                        .group-img{
                            margin-right: 1rem;
    
                            img{
                                width: 3rem;
                                margin-left: -0.75rem;
                            }
                            img:first-child{
                                margin-left: 0;
                            }
                        }

                        #myChart1,
                        #myChart2 {
                            width: 200px;
                            height: 200px;
                            margin: 0.5rem auto;
                        }
                            
                        
                    }
                    .cart-bottom{
                        margin: 2rem 0 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .item{
                            text-align: center;

                            .item-value{
                                font-weight: bold;
                                margin-top: 0.5rem;
                            }
                        }
                    }
                    .cart-bottom2{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                    }
                }
                
                .content__cart2{
                    background-color: $white-color;  
                    padding: 1rem;
                    margin-bottom: 2rem;
                    height: 45rem;
                    border: 1px solid #ccc;
                    border-radius: 0.2rem;

                    th {
                        font-family: 'SFProDisplay Thin';
                        color: $text-gray-color;
                        font-size: 1.2rem;
                    }
                    .head-body{
                        overflow: hidden;
                        position: relative;
                        
                        figure {
                            display: block;
                            margin-inline-start: 0px;
                            margin-inline-end: 0px;
                        }
                        #myChart3{
                            height: 40rem;
                            margin-top: 2rem;
                            .highcharts-credits{
                                display: none;
                            }
                            .highcharts-container {
                                width: 560px;
                            }
                            .highcharts-point{
                                width: 45;
                            }
                        }
                        .table__date {
                            display: block;
                            position: relative;
                            padding-left: 1rem;

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                // margin: 0 1rem;
                                width: 1.2rem;
                                padding-top: 0.1rem;
                            }
                            .date-value {
                                color: $text-gray-color;
                                font-size: 1.2rem;
                            }

                        }
                        .status {
                            float: left;
                            padding-left: 1rem;

                            .status-icon{
                                margin-right: 0.7rem;
                                border-radius: 50%;
                                border-width: 0.5rem;
                                border-style: solid;
                                border-color: #ccc;
                                height: 0px;
                                width: 0px;
                                display: inline-block;
                    
                                &.in-progress{
                                    border-color: $yellow-color;   
                                }
                                &.new{
                                    border-color: $btn-color;    
                                }
                                &.complete{
                                    border-color: $green-color;    
                                }
                            }
                            .status-name{
                                display: inline-block;
                                font-size: 1.2rem;
                            }
                        }
                    }
                    
                }
            }                            
            .cart{
                background-color: $white-color;  
                border-radius: 0.2rem;
                border: 1px solid #ccc;
            }  
        }  
    }
}
