@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none; }

a {
  color: inherit; }

a:active, a:focus {
  text-decoration: none;
  color: inherit; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

ol, ul, li {
  padding: 0px;
  list-style: none;
  margin: 0px; }

/* Let's get this party started */
html {
  overflow-x: hidden; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee; }

/* Fonts */
@font-face {
  font-family: 'SFPro';
  src: url("../../fonts/SF-Pro-Display-Bold.otf") format("opentype"), url("../../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'SFPro';
  src: url("../../fonts/SF-Pro-Display-Light.otf") format("opentype"), url("../../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'SFPro';
  src: url("../../fonts/SF-Pro-Display-Regular.otf") format("opentype"), url("../../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'SFPro';
  src: url("../../fonts/SF-Pro-Display-Medium.otf") format("opentype"), url("../../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'SFPro';
  src: url("../../fonts/SF-Pro-Display-Thin.otf") format("opentype"), url("../../fonts/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#SFUFutura") format("svg");
  font-weight: bold; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#SFUFutura") format("svg");
  font-weight: 300; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#SFUFutura") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#SFUFutura") format("svg");
  font-weight: 500; }

@font-face {
  font-family: 'RobotoCondensed';
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg#SFUFutura") format("svg");
  font-weight: 500; }

* {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* Tương ứng 12px . 1rem = 10px*/
  line-height: 1.6rem;
  font-family: 'SFProDisplay','Roboto', sans-serif;
  box-sizing: border-box; }

body {
  background-color: #e6e6e644;
  color: #505157; }

.show {
  display: block; }

.hide {
  display: none; }

.icon__medium {
  width: 1.6rem; }

.icon__small {
  width: 1rem; }

.icon__regular {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.5rem; }

a {
  text-decoration: none; }

button {
  background: transparent; }

a,
button:hover {
  cursor: pointer;
  color: transparent -50%; }

img.active:hover {
  opacity: 0.5;
  cursor: pointer; }

.btn, button, input:hover,
.btn, button, input:focus {
  border: none;
  outline: none; }

.btn__primary {
  background-color: #1660C0;
  color: #fff;
  padding: 1.2rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  height: 4rem;
  vertical-align: middle;
  box-shadow: 0 1px 2px #ccc; }

.btn__default-small {
  background-color: #fff;
  color: #8D8D8E;
  border-radius: 0.2rem;
  font-size: 1.6rem;
  vertical-align: middle; }

.text--blue {
  color: #153673; }

.text--green {
  color: #1EA85A; }

.text--yellow {
  color: #FFBE3C; }

.line-through {
  text-decoration: line-through;
  text-decoration-color: #8D8D8E; }

table {
  width: 100%; }

th, td {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #d8d8d841; }

tbody tr:last-child td {
  border-bottom: none; }

body {
  background-color: #e6e6e644;
  color: #505157; }

.wrapper {
  position: relative; }
  .wrapper .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none; }
    @media (min-width: 740px) and (max-width: 1023px) {
      .wrapper .overlay.show {
        display: none; } }
    @media (max-width: 739px) {
      .wrapper .overlay.show {
        display: block; } }
  .wrapper .sidebar {
    position: fixed;
    width: 24rem;
    min-height: 800px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #153673; }
    .wrapper .sidebar.show {
      display: block;
      z-index: 1; }
    .wrapper .sidebar.sidebar-width-small {
      width: 10rem; }
    .wrapper .sidebar.sidebar-width-zero {
      width: 0; }
    .wrapper .sidebar .sidebar-header {
      display: block;
      position: relative;
      padding: 2rem 1rem 2rem 1.5rem;
      border: 1px solid #d8d8d841; }
      .wrapper .sidebar .sidebar-header .logo {
        display: block;
        position: relative;
        padding: 0 1rem 0 0; }
        .wrapper .sidebar .sidebar-header .logo .logo-img {
          width: 2.5rem;
          margin-right: 1rem; }
          @media (max-width: 739px) {
            .wrapper .sidebar .sidebar-header .logo .logo-img {
              width: 2.5rem; } }
        .wrapper .sidebar .sidebar-header .logo .logo-title {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-100%, -70%);
          font-size: 1.7rem;
          padding-top: 4%;
          color: #fff;
          font-family: 'SFPro'; }
          .wrapper .sidebar .sidebar-header .logo .logo-title.hide {
            display: none; }
      .wrapper .sidebar .sidebar-header .sidebar-icon {
        float: right;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(-50%, -50%); }
        @media (max-width: 739px) {
          .wrapper .sidebar .sidebar-header .sidebar-icon.expand {
            display: none; } }
        .wrapper .sidebar .sidebar-header .sidebar-icon .icon-sidebar {
          width: 1.5rem;
          height: 1.2rem; }
          @media (max-width: 739px) {
            .wrapper .sidebar .sidebar-header .sidebar-icon .icon-sidebar {
              display: none; } }
        .wrapper .sidebar .sidebar-header .sidebar-icon .icon-close {
          width: 1.5rem;
          height: 1.2rem; }
          @media (max-width: 739px) {
            .wrapper .sidebar .sidebar-header .sidebar-icon .icon-close {
              display: block; } }
      @media (max-width: 739px) {
        .wrapper .sidebar .sidebar-header.expand {
          display: none; } }
    .wrapper .sidebar .sidebar-content {
      padding: 2rem 0rem 2rem;
      border-bottom: 1px solid #d8d8d841; }
      .wrapper .sidebar .sidebar-content .sidebar-menu > li ul {
        color: #fff;
        font-size: 1.3rem;
        display: none; }
        .wrapper .sidebar .sidebar-content .sidebar-menu > li ul.active {
          display: block; }
        .wrapper .sidebar .sidebar-content .sidebar-menu > li ul > li {
          padding: 1.5rem 0 1.5rem 4.75rem;
          opacity: 0.6; }
          .wrapper .sidebar .sidebar-content .sidebar-menu > li ul > li .icon-mobile {
            margin-left: -0.5rem;
            border-radius: 50%;
            border-width: 0.5rem;
            border-style: solid;
            border-color: #ccc;
            height: 0px;
            width: 0px;
            display: none; }
            .wrapper .sidebar .sidebar-content .sidebar-menu > li ul > li .icon-mobile.show {
              display: block; }
        .wrapper .sidebar .sidebar-content .sidebar-menu > li ul > li:hover {
          opacity: 1;
          background-color: rgba(255, 255, 255, 0.07); }
      .wrapper .sidebar .sidebar-content .sidebar-menu > li > a .icon-down {
        float: right;
        transform: rotate(-90deg);
        margin-top: 0.5rem; }
        .wrapper .sidebar .sidebar-content .sidebar-menu > li > a .icon-down.active {
          transform: none; }
        .wrapper .sidebar .sidebar-content .sidebar-menu > li > a .icon-down.hide {
          display: none; }
      .wrapper .sidebar .sidebar-content > li:last-child {
        border-bottom: 0px; }
      .wrapper .sidebar .sidebar-content > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        opacity: 1; }
        .wrapper .sidebar .sidebar-content > li > a:hover {
          background: rgba(255, 255, 255, 0.1); }
        .wrapper .sidebar .sidebar-content > li > a .icon {
          position: absolute;
          top: 12px;
          left: 20px;
          font-size: 16px;
          opacity: 0.7; }
        .wrapper .sidebar .sidebar-content > li > a .down {
          position: absolute;
          top: 15px;
          font-size: 16px;
          right: 10px; }
      .wrapper .sidebar .sidebar-content .item {
        display: block;
        padding: 1.2rem 1.5rem;
        position: relative; }
        .wrapper .sidebar .sidebar-content .item .img1 {
          margin-right: 1.4rem; }
        .wrapper .sidebar .sidebar-content .item .img2 {
          margin-right: 1rem; }
        .wrapper .sidebar .sidebar-content .item .title {
          display: inline-block;
          font-size: 1.4rem;
          color: #fff;
          position: absolute;
          margin-top: 0.2rem; }
          .wrapper .sidebar .sidebar-content .item .title.hide {
            display: none; }
        .wrapper .sidebar .sidebar-content .item.padd-big {
          padding: 1.2rem 4rem; }
        @media (max-width: 739px) {
          .wrapper .sidebar .sidebar-content .item {
            padding: 1.2rem 3rem; } }
      .wrapper .sidebar .sidebar-content .item:hover {
        background-color: rgba(255, 255, 255, 0.07); }
      .wrapper .sidebar .sidebar-content .item--action {
        background-color: rgba(255, 255, 255, 0.07); }
      .wrapper .sidebar .sidebar-content .head {
        display: block;
        padding: 1.2rem 1.5rem;
        margin-bottom: 1rem; }
        .wrapper .sidebar .sidebar-content .head .title {
          color: #505157;
          font-size: 1.6rem;
          font-family: 'SFPro';
          display: inline-block; }
          .wrapper .sidebar .sidebar-content .head .title.hide {
            display: none; }
          .wrapper .sidebar .sidebar-content .head .title.project-title {
            color: #7488ac; }
        .wrapper .sidebar .sidebar-content .head.padd-big {
          padding: 1.2rem 4rem; }
        @media (max-width: 739px) {
          .wrapper .sidebar .sidebar-content .head {
            padding: 1.2rem 3rem; } }
        .wrapper .sidebar .sidebar-content .head img {
          float: right; }
          .wrapper .sidebar .sidebar-content .head img.img-project {
            float: none;
            margin: 0 auto; }
      .wrapper .sidebar .sidebar-content.content-project {
        border-bottom: none; }
    .wrapper .sidebar .show {
      left: 0;
      opacity: 1;
      transition: all 0.3s ease;
      z-index: 2; }
    .wrapper .sidebar .icon-close {
      display: none; }
    @media (max-width: 739px) {
      .wrapper .sidebar {
        display: none; } }
  .wrapper .view {
    position: absolute;
    width: calc(100% - 24rem);
    right: 0;
    background-color: #e6e6e644;
    height: max-content;
    overflow: hidden; }
    .wrapper .view.sidebar-width-full {
      width: 100%; }
    .wrapper .view.view-width-small {
      width: calc(100% - 10rem); }
    .wrapper .view .header {
      padding: 0.8rem 1.6rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #fff;
      padding: 1rem 0 1rem 1rem;
      box-shadow: 0 1px 2px #ccc; }
      .wrapper .view .header .search {
        display: flex;
        flex-direction: row; }
        .wrapper .view .header .search button {
          height: 4rem;
          background-color: #e6e6e644;
          border: 1px solid #d8d8d841;
          padding: 0.2rem 1rem;
          cursor: pointer; }
          .wrapper .view .header .search button.none-border {
            border: none; }
          .wrapper .view .header .search button .sidebar-icon2 {
            width: 1.5rem;
            height: 1.2rem; }
          .wrapper .view .header .search button.show-mobile {
            display: none; }
            @media (max-width: 739px) {
              .wrapper .view .header .search button.show-mobile {
                display: block;
                margin-right: 2rem; } }
        @media (max-width: 739px) {
          .wrapper .view .header .search .search-input {
            display: none; } }
        .wrapper .view .header .search .search-input input {
          width: 20rem;
          height: 4rem;
          border: none;
          padding: 0.2rem 1rem;
          font-size: 1.4rem;
          color: #000;
          font-family: 'SFPro';
          background-color: #e6e6e644; }
        .wrapper .view .header .search .search-input input:focus {
          border-bottom: 1px solid #1660C0; }
      .wrapper .view .header .header-right {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .wrapper .view .header .header-right .item {
          padding: 0rem 1.5rem; }
          .wrapper .view .header .header-right .item.btn:hover {
            box-shadow: 0 1px 2px #153673; }
          .wrapper .view .header .header-right .item.btn-primary {
            background-color: #1660C0;
            color: #fff;
            padding: 1.2rem;
            border-radius: 0.4rem;
            font-size: 1.6rem;
            height: 4rem;
            vertical-align: middle;
            box-shadow: 0 1px 2px #ccc; }
            .wrapper .view .header .header-right .item.btn-primary img {
              padding-right: 0.5rem; }
          .wrapper .view .header .header-right .item.notify {
            margin-left: 1rem;
            position: relative; }
            .wrapper .view .header .header-right .item.notify .icon__notify {
              width: 2rem; }
          .wrapper .view .header .header-right .item .notify::before {
            content: "";
            border-width: 0.4rem;
            border-style: solid;
            border-color: #ff0505;
            position: absolute;
            right: 30%;
            top: 0px;
            border-radius: 50%; }
          .wrapper .view .header .header-right .item.user img {
            width: 4rem; }
    @media (max-width: 739px) {
      .wrapper .view {
        width: 100%; } }
    .wrapper .view .status-icon {
      margin-right: 0.7rem;
      border-radius: 50%;
      border-width: 0.5rem;
      border-style: solid;
      border-color: #ccc;
      height: 0px;
      width: 0px;
      display: inline-block; }
      .wrapper .view .status-icon.in-progress {
        border-color: #FFBE3C; }
      .wrapper .view .status-icon.new {
        border-color: #1660C0; }
      .wrapper .view .status-icon.complete {
        border-color: #1EA85A; }
    .wrapper .view .check-list {
      position: relative;
      margin-top: 2rem;
      display: block; }
      .wrapper .view .check-list label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 5px;
        opacity: 0;
        position: absolute;
        top: 7px;
        transform: rotate(-45deg);
        width: 12px; }
      .wrapper .view .check-list label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        left: 1.5rem;
        position: absolute;
        top: 0; }
        .wrapper .view .check-list label.big {
          height: 3.3rem;
          width: 3.3rem;
          margin-left: -1rem; }
        .wrapper .view .check-list label.big:after {
          content: "";
          border: 2px solid #fff;
          border-top: none;
          border-right: none;
          width: 2rem;
          height: 1rem;
          left: 0.4rem;
          opacity: 0;
          position: absolute;
          top: 0.6rem;
          transform: rotate(-45deg); }
        .wrapper .view .check-list label.label-hide {
          border: none;
          background-color: transparent;
          margin-left: 0.15rem; }
      .wrapper .view .check-list input[type="checkbox"] {
        visibility: hidden; }
      .wrapper .view .check-list input[type="checkbox"]:checked + label {
        background-color: #66bb6a;
        border-color: #66bb6a; }
        .wrapper .view .check-list input[type="checkbox"]:checked + label.big {
          background-color: #1660C0;
          border-color: #1660C0; }
      .wrapper .view .check-list input[type="checkbox"]:checked + label:after {
        opacity: 1; }
      .wrapper .view .check-list .info {
        display: inline-block;
        padding-top: 0.5rem;
        padding-left: 4rem;
        cursor: default; }
        .wrapper .view .check-list .info.info-big {
          padding-left: 3.5rem; }
        .wrapper .view .check-list .info .info-tag {
          font-size: 1.2rem;
          color: #8D8D8E;
          margin-top: 0.5rem; }
        .wrapper .view .check-list .info.info-check {
          padding-left: 0;
          padding-top: 0; }
          .wrapper .view .check-list .info.info-check .info-check-img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            margin-right: 1rem;
            border: 1px dashed #8D8D8E; }
            .wrapper .view .check-list .info.info-check .info-check-img.img-small {
              height: 2rem;
              width: 2rem;
              border: none;
              margin-bottom: 0.4rem; }
      .wrapper .view .check-list.check-big {
        display: inline-block;
        margin: 1rem 0; }
      .wrapper .view .check-list .input-checkbox {
        border: none;
        outline: none;
        width: 30rem; }
        @media (max-width: 739px) {
          .wrapper .view .check-list .input-checkbox {
            width: 20rem; } }
      .wrapper .view .check-list .input-checkbox:focus {
        border-bottom: 1px solid #1660C0;
        padding-bottom: 0.5rem; }
      .wrapper .view .check-list.check-img {
        margin-top: 0;
        display: inline-block;
        margin-left: -2rem; }
    .wrapper .view .pagination-table {
      display: inline-block;
      background-color: #fff;
      width: 100%;
      padding: 2rem 10rem; }
      .wrapper .view .pagination-table .pagi-right {
        float: right;
        display: inline-block; }
        .wrapper .view .pagination-table .pagi-right .total {
          display: inline-block;
          margin-right: 3rem; }
          .wrapper .view .pagination-table .pagi-right .total .total-value {
            margin: 0 1rem;
            font-weight: bolder;
            color: #8D8D8E;
            display: inline-block; }
        .wrapper .view .pagination-table .pagi-right .pagination {
          display: inline-block; }
          .wrapper .view .pagination-table .pagi-right .pagination > ul {
            display: inline-block;
            position: relative; }
            .wrapper .view .pagination-table .pagi-right .pagination > ul > li {
              display: inline-block; }
              .wrapper .view .pagination-table .pagi-right .pagination > ul > li.icon-pagi-pre {
                position: absolute;
                left: 0;
                transform: translate(-2rem, 0px); }
              .wrapper .view .pagination-table .pagi-right .pagination > ul > li.icon-pagi-next {
                position: absolute;
                transform: translate(2rem, 0px);
                right: 0; }
              .wrapper .view .pagination-table .pagi-right .pagination > ul > li .item {
                margin: 0 0.2rem;
                padding: 0.3rem 0.7rem;
                border: none; }
              .wrapper .view .pagination-table .pagi-right .pagination > ul > li .item:hover {
                cursor: pointer;
                border-radius: 50%;
                background-color: #0f1ff7b8; }
              .wrapper .view .pagination-table .pagi-right .pagination > ul > li .item--active {
                border-radius: 50%;
                background-color: #0f1ff7b8; }
              .wrapper .view .pagination-table .pagi-right .pagination > ul > li img {
                width: 1.8rem; }
    .wrapper .view .content {
      margin-top: 2rem;
      /* background-color: $white-color; */
      min-height: 50rem;
      margin: 2rem 1rem 0rem;
      font-size: 1.4rem;
      font-family: 'SFPro'; }
      .wrapper .view .content .head {
        display: block;
        width: 100%; }
        @media (max-width: 1023px) {
          .wrapper .view .content .head {
            display: table;
            text-align: center; } }
        .wrapper .view .content .head .title {
          display: inline-block;
          font-size: 1.6rem;
          font-weight: bolder; }
        .wrapper .view .content .head .right {
          width: max-content;
          float: right;
          display: block;
          font-size: 1.6rem;
          font-weight: bolder; }
          .wrapper .view .content .head .right .item {
            margin: 1rem 1.5rem;
            color: #8D8D8E;
            display: inline; }
            .wrapper .view .content .head .right .item.item--active {
              color: #153673;
              font-family: 'SFPro'; }
          .wrapper .view .content .head .right .item:hover {
            color: #153673;
            cursor: pointer; }
        .wrapper .view .content .head .info-item {
          position: relative;
          margin-right: 5rem;
          display: inline-block;
          margin: 0 auto; }
          .wrapper .view .content .head .info-item img {
            width: 4rem;
            display: block;
            margin-right: 10rem; }
          .wrapper .view .content .head .info-item .info-item-img {
            border-radius: 50%;
            border: 1px solid #ccc; }
          .wrapper .view .content .head .info-item .info-detail {
            margin-left: 1rem;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: max-content; }
          .wrapper .view .content .head .info-item .detail-note {
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            color: #8D8D8E; }
          .wrapper .view .content .head .info-item .detail-info {
            font-size: 1.2rem; }
          .wrapper .view .content .head .info-item .text-change {
            color: #ff0505; }
        .wrapper .view .content .head .head-percent {
          display: inline-block;
          margin-right: 10rem;
          width: 30rem; }
          @media (max-width: 739px) {
            .wrapper .view .content .head .head-percent {
              margin-right: 0rem; } }
          @media (min-width: 740px) and (max-width: 1023px) {
            .wrapper .view .content .head .head-percent {
              margin-right: 0rem; } }
          .wrapper .view .content .head .head-percent .percent-use {
            float: left;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            padding: 0.4rem 0.5rem;
            background: linear-gradient(to bottom, #6DD400, #F7B500);
            /* border: 3px solid linear-gradient(to right,rgb(255, 166, 0), rgb(123, 255, 0),rgb(152, 194, 2)); */
            text-align: center;
            top: 25%;
            /* font: 32px Arial, sans-serif; */
            margin-right: 1rem; }
          .wrapper .view .content .head .head-percent .percent-number {
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            padding: 1.2rem 0.5rem;
            background: #fff;
            /* border: 3px solid linear-gradient(to right, red, purple); */
            color: #000;
            font-family: 'SFPro';
            text-align: center;
            top: 25%; }
        .wrapper .view .content .head .head-info .info-title {
          font-family: 'SFPro';
          font-size: 1.6rem;
          margin-bottom: 0.5rem;
          text-align: initial; }
        .wrapper .view .content .head .head-info .info-descript {
          display: flex;
          align-items: center; }
          .wrapper .view .content .head .head-info .info-descript .descript-item {
            margin-left: -1rem; }
          .wrapper .view .content .head .head-info .info-descript .descript-item:first-child {
            margin-left: 0rem; }
          .wrapper .view .content .head .head-info .info-descript .descript-share {
            background-color: #fff;
            margin-left: 2rem;
            padding: 0.5rem;
            height: 3rem;
            border-radius: 0.4rem;
            border: 1px solid #d8d8d841;
            box-shadow: 0 1px 2px #ccc; }
          .wrapper .view .content .head .head-info .info-descript .descript-share:hover {
            border: 1px solid #1660C0;
            box-shadow: 0 1px 2px #1660C0;
            transition: 0.3s; }
            .wrapper .view .content .head .head-info .info-descript .descript-share:hover img {
              width: 1.6rem;
              padding-top: 2px; }
        .wrapper .view .content .head .head-date {
          display: inline-block;
          float: right; }
          @media (max-width: 1023px) {
            .wrapper .view .content .head .head-date {
              float: none; } }
          @media (max-width: 739px) {
            .wrapper .view .content .head .head-date {
              margin-top: 1rem; } }
          .wrapper .view .content .head .head-date .date-item {
            margin-right: 2rem; }
      .wrapper .view .content .content-content {
        background-color: #fff;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        border-radius: 0.2rem;
        border: 1px solid #d8d8d841;
        box-shadow: 0 1px 2px #ccc; }
        .wrapper .view .content .content-content .item {
          padding: 2rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border: 1px solid #d8d8d841; }
          .wrapper .view .content .content-content .item .line-through {
            text-decoration: line-through;
            text-decoration-color: #8D8D8E; }
          .wrapper .view .content .content-content .item .info {
            font-size: 1.2rem;
            line-height: 1.6rem;
            display: flex;
            align-items: center;
            color: #8D8D8E;
            margin-top: 0.5rem; }
            .wrapper .view .content .content-content .item .info .info-icon {
              margin-right: 1rem; }
          .wrapper .view .content .content-content .item .item-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 2rem; }
            .wrapper .view .content .content-content .item .item-right .date {
              display: flex;
              align-items: center;
              margin-right: 3rem;
              color: #8D8D8E; }
              .wrapper .view .content .content-content .item .item-right .date .date-img {
                margin-right: 0.5rem; }
            .wrapper .view .content .content-content .item .item-right .status-name {
              display: inline-block; }
        .wrapper .view .content .content-content .item:hover {
          background-color: #e6e6e671; }
        .wrapper .view .content .content-content .check-list-item {
          padding: 1rem;
          border-bottom: 1px solid #d8d8d841; }
          .wrapper .view .content .content-content .check-list-item.task {
            position: relative; }
          .wrapper .view .content .content-content .check-list-item.item--new {
            background-color: #e6e6e671; }
          .wrapper .view .content .content-content .check-list-item .detail-right {
            float: right;
            display: inline-block;
            margin-top: 1.4rem;
            margin-right: 1rem; }
            .wrapper .view .content .content-content .check-list-item .detail-right .status {
              float: left;
              padding-left: 1rem; }
          .wrapper .view .content .content-content .check-list-item .item-right {
            display: inline-block;
            float: right;
            width: max-content; }
            .wrapper .view .content .content-content .check-list-item .item-right.right-task {
              position: absolute;
              right: 2.5rem;
              top: 33%;
              width: 21rem; }
            .wrapper .view .content .content-content .check-list-item .item-right .right-date {
              display: inline-block;
              margin-right: 10rem;
              position: relative; }
              .wrapper .view .content .content-content .check-list-item .item-right .right-date .date-value {
                display: inline-block;
                position: absolute;
                transform: translate(4px, 0.3rem); }
            .wrapper .view .content .content-content .check-list-item .item-right .right-status {
              display: inline-block; }
              .wrapper .view .content .content-content .check-list-item .item-right .right-status .status-name {
                display: inline-block; }
        .wrapper .view .content .content-content .check-list-item:hover {
          background-color: #e6e6e671;
          cursor: pointer; }
        .wrapper .view .content .content-content.detail-task {
          margin-top: 0;
          height: 92rem; }
          @media (max-width: 1023px) {
            .wrapper .view .content .content-content.detail-task {
              height: max-content; } }
      .wrapper .view .content.page-detail {
        margin: 0; }
        .wrapper .view .content.page-detail .detail-infomation {
          background-color: #fff;
          margin: 1rem 1rem 1rem 0;
          padding: 1rem 2rem 2rem 2rem;
          border: 1px solid #d8d8d841;
          box-shadow: 0 1px 2px #ccc; }
          .wrapper .view .content.page-detail .detail-infomation .head {
            padding-bottom: 3rem;
            border-bottom: 1px solid #d8d8d841;
            display: block; }
            .wrapper .view .content.page-detail .detail-infomation .head .top {
              display: block;
              margin: 2rem 0; }
              .wrapper .view .content.page-detail .detail-infomation .head .top .top-title {
                font-size: 1.8rem;
                font-family: 'SFPro';
                float: left; }
              .wrapper .view .content.page-detail .detail-infomation .head .top .top-mark {
                float: right;
                border: 1px solid #d8d8d841;
                background-color: #fff;
                padding: 0.5rem;
                box-shadow: 0 1px 3px #e6e6e671;
                border-radius: 2px;
                transition: 0.3s; }
                .wrapper .view .content.page-detail .detail-infomation .head .top .top-mark button {
                  background-color: #fff;
                  color: #8D8D8E; }
              .wrapper .view .content.page-detail .detail-infomation .head .top .top-mark:hover {
                box-shadow: 0 0px 1px #1660C0;
                border: 1px solid #1660C0;
                cursor: pointer;
                transform: scale(1.02); }
            .wrapper .view .content.page-detail .detail-infomation .head .info {
              padding-top: 3rem; }
              @media (max-width: 1023px) {
                .wrapper .view .content.page-detail .detail-infomation .head .info {
                  display: table;
                  width: 100%; } }
              @media (max-width: 1023px) {
                .wrapper .view .content.page-detail .detail-infomation .head .info .info-item {
                  margin-top: 2rem; } }
              .wrapper .view .content.page-detail .detail-infomation .head .info .info-item:first-child {
                margin-right: 10rem; }
                @media (min-width: 740px) and (max-width: 1023px) {
                  .wrapper .view .content.page-detail .detail-infomation .head .info .info-item:first-child {
                    margin-right: 0rem; } }
                @media (max-width: 1023px) {
                  .wrapper .view .content.page-detail .detail-infomation .head .info .info-item:first-child {
                    margin-right: 0;
                    display: block;
                    width: 100%;
                    text-align: -webkit-center; } }
          .wrapper .view .content.page-detail .detail-infomation .detail-descript {
            margin-top: 3rem; }
            .wrapper .view .content.page-detail .detail-infomation .detail-descript .item1-title {
              font-size: 1.6rem;
              margin-bottom: 1rem; }
            .wrapper .view .content.page-detail .detail-infomation .detail-descript .item1-progress {
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              color: #8D8D8E; }
            .wrapper .view .content.page-detail .detail-infomation .detail-descript #progressbar {
              background-color: #e6e6e671;
              border-radius: 13px;
              width: 30rem;
              height: 1rem;
              margin-right: 2rem; }
            .wrapper .view .content.page-detail .detail-infomation .detail-descript #progressbar > div {
              background-color: #1EA85A;
              width: 30%;
              height: 1rem;
              border-radius: 10px; }
            .wrapper .view .content.page-detail .detail-infomation .detail-descript .item2 {
              margin-top: 4rem;
              margin-bottom: 1rem; }
              .wrapper .view .content.page-detail .detail-infomation .detail-descript .item2 .item2-title {
                text-transform: uppercase;
                color: #8D8D8E;
                margin-bottom: 1rem; }
              .wrapper .view .content.page-detail .detail-infomation .detail-descript .item2 .item2-descript {
                line-height: 3rem;
                font-size: 1.4rem; }
            .wrapper .view .content.page-detail .detail-infomation .detail-descript .item3 {
              margin-top: 5rem; }
              .wrapper .view .content.page-detail .detail-infomation .detail-descript .item3 .item3-title {
                font-size: 1.6rem;
                font-weight: bold; }
              .wrapper .view .content.page-detail .detail-infomation .detail-descript .item3 .item3-group {
                border-bottom: 1px solid #d8d8d841;
                padding: 0.5rem;
                display: inline-block;
                margin-left: 3.5rem;
                width: 90%;
                position: relative;
                height: 3rem; }
                @media (max-width: 739px) {
                  .wrapper .view .content.page-detail .detail-infomation .detail-descript .item3 .item3-group {
                    width: 88%; } }
              .wrapper .view .content.page-detail .detail-infomation .detail-descript .item3 .item3-ext {
                display: inline-block;
                right: 0;
                position: absolute;
                top: 0; }
        .wrapper .view .content.page-detail .detail-comment {
          margin: 3rem;
          background-color: #fff;
          border-radius: 0.4rem;
          padding: 2rem 3rem;
          border: 1px solid #d8d8d841;
          box-shadow: 0 1px 2px #ccc; }
          .wrapper .view .content.page-detail .detail-comment textarea {
            height: 10rem;
            width: 100%;
            border: none;
            padding: 2rem;
            margin: 1rem auto 1rem; }
          .wrapper .view .content.page-detail .detail-comment textarea:focus {
            border: 1px solid #ccc; }
          .wrapper .view .content.page-detail .detail-comment .bottom {
            position: relative;
            margin: 2rem 0 2rem 1rem;
            padding: 1rem; }
            .wrapper .view .content.page-detail .detail-comment .bottom .ckeditor {
              float: left; }
            .wrapper .view .content.page-detail .detail-comment .bottom .icon__ckeditor {
              margin-right: 1rem;
              width: 1.5rem;
              height: 1.5rem; }
            .wrapper .view .content.page-detail .detail-comment .bottom .comment-btn {
              position: absolute;
              bottom: -1rem;
              right: 0; }
      .wrapper .view .content.content__progress {
        margin: 2rem 0.5rem; }
        .wrapper .view .content.content__progress .progress-cart {
          background-color: #fff;
          border-radius: 0.4rem;
          box-shadow: 0 1px 2px #d8d8d841;
          min-height: 80rem; }
          @media (max-width: 1023px) {
            .wrapper .view .content.content__progress .progress-cart {
              min-height: 50rem;
              margin: 1rem 0; } }
          .wrapper .view .content.content__progress .progress-cart .cart-head {
            display: block;
            padding: 1.5rem 1rem;
            border-bottom: 1px solid #ccc;
            font-family: 'SFPro';
            font-size: 1.8rem; }
            .wrapper .view .content.content__progress .progress-cart .cart-head .head-title {
              display: inline-block;
              font-weight: bold; }
            .wrapper .view .content.content__progress .progress-cart .cart-head .head-tool {
              float: right;
              display: inline-block; }
          .wrapper .view .content.content__progress .progress-cart .cart-body {
            position: relative; }
            .wrapper .view .content.content__progress .progress-cart .cart-body .item {
              margin: 1rem;
              border: 1px solid #ccc;
              border-radius: 0.2rem;
              padding: 0.5rem 1rem; }
              .wrapper .view .content.content__progress .progress-cart .cart-body .item .item-title {
                font-weight: bolder; }
              .wrapper .view .content.content__progress .progress-cart .cart-body .item .item-info {
                display: flex;
                justify-items: center;
                justify-content: space-between;
                margin: 2rem 0 0.5rem 0;
                font-size: 1.2rem;
                color: #8D8D8E; }
                .wrapper .view .content.content__progress .progress-cart .cart-body .item .item-info img {
                  margin-right: 0.3rem; }
            .wrapper .view .content.content__progress .progress-cart .cart-body .item:hover {
              cursor: pointer; }
            .wrapper .view .content.content__progress .progress-cart .cart-body .content__progress-cart-body-item.sortable-placeholder {
              border: 1px dashed #d8d8d841;
              background: #e6e6e644; }
            .wrapper .view .content.content__progress .progress-cart .cart-body .handles span {
              cursor: move; }
      .wrapper .view .content .content__dashboard .head-title {
        font-size: 1.6rem;
        display: inline-block; }
        .wrapper .view .content .content__dashboard .head-title img {
          width: 0.6rem;
          margin-right: 1rem; }
      .wrapper .view .content .content__dashboard .cart-head {
        display: block;
        font-family: 'SFPro'; }
        .wrapper .view .content .content__dashboard .cart-head .icon__regular {
          float: right; }
      .wrapper .view .content .content__dashboard .table__group {
        display: flex;
        align-items: center; }
        .wrapper .view .content .content__dashboard .table__group .group-img {
          margin-right: 1rem;
          white-space: nowrap; }
          .wrapper .view .content .content__dashboard .table__group .group-img img {
            width: 3rem;
            margin-left: -0.75rem; }
        .wrapper .view .content .content__dashboard .table__group .group-percent {
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          padding: 0.4rem 0.5rem;
          background: linear-gradient(to bottom, #6DD400, #F7B500);
          text-align: center;
          top: 25%; }
          .wrapper .view .content .content__dashboard .table__group .group-percent.percent-full {
            background: linear-gradient(to left, #5ED9A2, #30B168); }
          .wrapper .view .content .content__dashboard .table__group .group-percent.percent-zero {
            background: #D8D8D8; }
          .wrapper .view .content .content__dashboard .table__group .group-percent .percent-number {
            display: inline-block;
            border-radius: 50%;
            width: 3.1rem;
            height: 3.1rem;
            padding: 1rem 0;
            background: #fff;
            color: #000;
            font-family: 'SFPro';
            font-size: 1.2rem; }
        .wrapper .view .content .content__dashboard .table__group .group-name {
          text-align: start;
          margin-left: 1rem; }
          .wrapper .view .content .content__dashboard .table__group .group-name .name-info {
            font-size: 1.2rem;
            color: #8D8D8E; }
      .wrapper .view .content .content__dashboard .content__cart {
        padding: 1rem;
        margin-bottom: 2rem;
        height: 30rem;
        background-color: #fff;
        border-radius: 0.2rem;
        border: 1px solid #ccc; }
        .wrapper .view .content .content__dashboard .content__cart .head-body {
          position: relative; }
          .wrapper .view .content .content__dashboard .content__cart .head-body .chart-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-90%, -50%); }
          .wrapper .view .content .content__dashboard .content__cart .head-body .title {
            color: #8D8D8E;
            margin-bottom: 0.5rem; }
          .wrapper .view .content .content__dashboard .content__cart .head-body .numb {
            font-weight: bold;
            font-size: 1.6rem; }
          .wrapper .view .content .content__dashboard .content__cart .head-body .overdue {
            color: #ff0505;
            background-color: #FFF7F7; }
          .wrapper .view .content .content__dashboard .content__cart .head-body .cart-item3 {
            padding-bottom: 0; }
          .wrapper .view .content .content__dashboard .content__cart .head-body.cart-item3-body {
            margin-top: 0.75rem; }
          .wrapper .view .content .content__dashboard .content__cart .head-body .user {
            text-align: start; }
          .wrapper .view .content .content__dashboard .content__cart .head-body .group-img {
            margin-right: 1rem; }
            .wrapper .view .content .content__dashboard .content__cart .head-body .group-img img {
              width: 3rem;
              margin-left: -0.75rem; }
            .wrapper .view .content .content__dashboard .content__cart .head-body .group-img img:first-child {
              margin-left: 0; }
          .wrapper .view .content .content__dashboard .content__cart .head-body #myChart1,
          .wrapper .view .content .content__dashboard .content__cart .head-body #myChart2 {
            width: 200px;
            height: 200px;
            margin: 0.5rem auto; }
        .wrapper .view .content .content__dashboard .content__cart .cart-bottom {
          margin: 2rem 0 0;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .wrapper .view .content .content__dashboard .content__cart .cart-bottom .item {
            text-align: center; }
            .wrapper .view .content .content__dashboard .content__cart .cart-bottom .item .item-value {
              font-weight: bold;
              margin-top: 0.5rem; }
        .wrapper .view .content .content__dashboard .content__cart .cart-bottom2 {
          display: flex;
          align-items: center;
          justify-content: space-evenly; }
      .wrapper .view .content .content__dashboard .content__cart2 {
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 2rem;
        height: 45rem;
        border: 1px solid #ccc;
        border-radius: 0.2rem;
        overflow: hidden; }
        .wrapper .view .content .content__dashboard .content__cart2 th {
          font-family: 'SFProDisplay Thin';
          color: #8D8D8E;
          font-size: 1.2rem; }
        .wrapper .view .content .content__dashboard .content__cart2 .head-body {
          overflow: hidden;
          position: relative;
          width: 100%; }
          .wrapper .view .content .content__dashboard .content__cart2 .head-body figure {
            display: block;
            margin-inline-start: 0px;
            margin-inline-end: 0px; }
          .wrapper .view .content .content__dashboard .content__cart2 .head-body #myChart3 {
            height: 40rem;
            margin-top: 2rem; }
            .wrapper .view .content .content__dashboard .content__cart2 .head-body #myChart3 .highcharts-credits {
              display: none; }
            .wrapper .view .content .content__dashboard .content__cart2 .head-body #myChart3 .highcharts-container {
              width: 560px; }
            .wrapper .view .content .content__dashboard .content__cart2 .head-body #myChart3 .highcharts-point {
              width: 45; }
          .wrapper .view .content .content__dashboard .content__cart2 .head-body .table__date {
            display: block;
            position: relative;
            padding-left: 1rem; }
            .wrapper .view .content .content__dashboard .content__cart2 .head-body .table__date img {
              position: absolute;
              top: -2px;
              left: 1rem;
              width: 1.2rem; }
              @media (min-width: 740px) and (max-width: 1023px) {
                .wrapper .view .content .content__dashboard .content__cart2 .head-body .table__date img {
                  left: 2rem; } }
              @media (max-width: 739px) {
                .wrapper .view .content .content__dashboard .content__cart2 .head-body .table__date img {
                  left: 0.5rem; } }
            .wrapper .view .content .content__dashboard .content__cart2 .head-body .table__date .date-value {
              color: #8D8D8E;
              font-size: 1.2rem; }
          .wrapper .view .content .content__dashboard .content__cart2 .head-body .status {
            float: left;
            padding-left: 1rem; }
            .wrapper .view .content .content__dashboard .content__cart2 .head-body .status .status-icon {
              margin-right: 0.7rem;
              border-radius: 50%;
              border-width: 0.5rem;
              border-style: solid;
              border-color: #ccc;
              height: 0px;
              width: 0px;
              display: inline-block; }
              .wrapper .view .content .content__dashboard .content__cart2 .head-body .status .status-icon.in-progress {
                border-color: #FFBE3C; }
              .wrapper .view .content .content__dashboard .content__cart2 .head-body .status .status-icon.new {
                border-color: #1660C0; }
              .wrapper .view .content .content__dashboard .content__cart2 .head-body .status .status-icon.complete {
                border-color: #1EA85A; }
            .wrapper .view .content .content__dashboard .content__cart2 .head-body .status .status-name {
              display: inline-block;
              font-size: 1.2rem; }
      .wrapper .view .content .cart {
        background-color: #fff;
        border-radius: 0.2rem;
        border: 1px solid #ccc; }
