$primary-color: rgb(255, 5, 5);
$blue-color: #153673;
$white-color: #fff;
$black-color: #000;
$green-color: #1EA85A;
$yellow-color:#FFBE3C;

// $text-color: rgba(255, 255, 255, 0.301); 
$text-color:#505157;
$text-gray-color: #8D8D8E; 
$text-blue-color: #153673;
$boder-color: #d8d8d841;
$btn-color: #1660C0;
$background-color: #e6e6e644;

$hover-color: #e6e6e671;
// $sidebar-width: 24rem; 
$sidebarWidth: 240px; 
$viewWidth: calc(100% - $sidebarWidth);
